@font-face {
  font-family: 'LeeSeoyun';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2202-2@1.0/LeeSeoyun.woff')
    format('woff');
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: 'LeeSeoyun';
  margin: 0;
  display: flex;
  justify-content: center;
  background-image: url('./images/background.png');
}

.container {
  background-color: #ff9d73;
  width: 390px;
  height: 100%;
}

.photos {
  margin-top: 30px;
}

.photo-frame {
  background-color: white;
  margin: 15px 20px;
  height: 200px;

  background-size: cover;

  position: relative;

  cursor: pointer;
}

.photo-description {
  opacity: 0;

  width: fit-content;
  padding: 0 20px;
  color: white;
  background-color: black;
  border-radius: 10px;
  margin-bottom: 10px;

  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}

.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.f-title {
  font-size: 25px;
  font-weight: 900;
  color: white;
}

.f-date {
  font-size: 15px;
  font-weight: 500;
  color: white;
}

#image1 {
  background-image: url('./images/img1.png');
}
#image2 {
  background-image: url('./images/img2.png');
}
#image3 {
  background-image: url('./images/img3.png');
}
#image4 {
  background-image: url('./images/img4.png');
}
.video {
  width: 100%;
  height: 100%;
}

.showText {
  opacity: 1;
  transition: opacity 0.5s linear;
}
.hideText {
  opacity: 0;
}
